<p>transfer works!</p>

<button (click)="connectWallet()" >Connect Wallet</button>
<button (click)="callSmartcontract()" class="btn">Call Smartcontract</button>
<button (click)="disconnectWallet()">Disconnet Wallet</button>

<div id="container">
   <h1>Connected to <span id="network"></span></h1>
    <h1 >Account: <span id="accountName"></span></h1>
    <h1 >Balance: <span id="balance"></span> ETH</h1>
    <h1 >CoinString: <span id="coinString"></span></h1>
</div>


<h1 >IsConnected: <span id="isconnected"></span></h1>


